* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
}

.logo span { color: #38bdf8; }

.navbar a {
  margin-left: 20px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 10%;
  gap: 40px;
}

.hero p {
  font-size: 1.2rem;
}

.hero button {
  padding: 10px 20px;
}


.hero-img {
  width: 260px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

.section {
  padding: 80px 10%;
  text-align: center;
}

.section.dark { background: #020617; }

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skills-grid span {
  padding: 12px;
  background: #1e293b;
  border-radius: 8px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.btn {
  background: #38bdf8;
  color: #020617;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
}




